<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodeTikki - User Management System</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="container" style="display: flex;flex-direction: column; justify-content: center; align-items: center;">
    <div class="header">
      <h1>Welcome to CodeTikki User Management System</h1>
    </div>
    <div class="content" style="width: 70%;">
      <div class="card" style="justify-content: center; display : flex; flex-direction:column; align-items: center; padding: 40px;">
        <h2>Choose an option</h2>
        <div class="buttons">
          <a href="/admin/dashboard" class="btn btn-primary">Admin Dashboard</a>
          <a href="/user/login" class="btn btn-secondary">User Login</a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>